# Getting data into Python

The data in this example will come from this location:

* [https://en.wikipedia.org/wiki/List_of_wars_by_death_toll](https://en.wikipedia.org/wiki/List_of_wars_by_death_toll)

In [ ]:
# here we save the complete link (in quotations):
link='https://en.wikipedia.org/wiki/List_of_wars_by_death_toll'

The operation to get dat from the web requires more than the basic Python functions. Then, you need to install some extra packages:
* pandas
* html5lib
* beautifulsoup4
* lxml
* requests.

In [ ]:
# this code can help you know if you already have the packages listed above:

!pip show pandas html5lib beautifulsoup4 lxml requests

Name: pandas
Version: 1.3.5
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: /usr/local/lib/python3.7/dist-packages
Requires: python-dateutil, numpy, pytz
Required-by: xarray, vega-datasets, statsmodels, sklearn-pandas, seaborn, pymc3, prophet, plotnine, pandas-profiling, pandas-gbq, pandas-datareader, mlxtend, mizani, holoviews, gspread-dataframe, google-colab, fix-yahoo-finance, fastai, datascience, cufflinks, cmdstanpy, arviz, altair
---
Name: html5lib
Version: 1.0.1
Summary: HTML parser based on the WHATWG HTML specification
Home-page: https://github.com/html5lib/html5lib-python
Author: James Graham
Author-email: james@hoppipolla.co.uk
License: MIT License
Location: /usr/local/lib/python3.7/dist-packages
Requires: six, webencodings
Required-by:
---
Name: beautifulsoup4
Version: 4.6.3
Summary: Screen-scraping library
Home-page: http://www.crummy.com/software/BeautifulSoup/bs4/
Author: Leonard Richardson
Author-email: leonardr@segfault.org
License: MIT
Location: /usr/local/lib/python3.7/dist-packages
Requires:
Required-by: google, gdown, bs4
---
Name: lxml
Version: 4.9.1
Summary: Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
Home-page: https://lxml.de/
Author: lxml dev team
Author-email: lxml-dev@lxml.de
License: BSD
Location: /usr/local/lib/python3.7/dist-packages
Requires:
Required-by: pandas-datareader
---
Name: requests
Version: 2.23.0
Summary: Python HTTP for Humans.
Home-page: https://requests.readthedocs.io
Author: Kenneth Reitz
Author-email: me@kennethreitz.org
License: Apache 2.0
Location: /usr/local/lib/python3.7/dist-packages
Requires: idna, certifi, chardet, urllib3
Required-by: tweepy, torchvision, torchtext, tensorflow-datasets, tensorboard, Sphinx, spacy, requests-oauthlib, pymystem3, pooch, panel, pandas-datareader, kaggle, gspread, google-colab, google-api-core, gdown, folium, fix-yahoo-finance, fastai, community, CacheControl

In [ ]:
!python --version

Python 3.7.13

Any package not available can be installed using **pip install _package-name_** . Let's bring the table easily with pandas' *read_html*:

In [ ]:
import pandas as pd
# this code only works for tables on the link

wars=pd.read_html(io=link, # reading the info from link
                  flavor='bs4', # the parsing engine
                  attrs = {'class': 'sortable wikitable'})# how did I know this? -> clicar com o bot√£o direito em cima da tabela que quero usar, inspecionar
                  # e setinha, passar em cima da tabela que quero usar para saber o nome

The object **wars** is not a table, but a list (of sortable wiki tables):

In [ ]:
# type of object
type(wars)

list

...and we have this many:

In [ ]:
len(wars)

3

You can access each element of the list using an index inside '[ ]'. This is what you have in the first element:

In [ ]:
type(wars[0]) #the first starts in zero in Python.

pandas.core.frame.DataFrame

The first element of _wars_ is a pandas dataframe. Let's check some info:

In [ ]:
wars[0].shape # amount of rows and columns

(24, 6)

In [ ]:
wars[0].columns # column names

Index(['War', 'Deathrange', 'Date', 'Combatants', 'Location', 'Notes'], dtype='object')

In [ ]:
wars[0].info() # column data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   War         24 non-null     object
 1   Deathrange  24 non-null     object
 2   Date        24 non-null     object
 3   Combatants  24 non-null     object
 4   Location    24 non-null     object
 5   Notes       20 non-null     object
dtypes: object(6)
memory usage: 1.2+ KB

In [ ]:
wars[0].head() # or tail()

,War,Deathrange,Date,Combatants,Location,Notes
0,Conquests of Cyrus the Great,"100,000+",549 BC‚Äì530 BC,Persian Empire vs. various states,Middle East,Number given is the sum of all deaths in battl...
1,Greco‚ÄìPersian Wars,"300,000+",499 BC‚Äì449 BC,Greek City-States vs. Persian Empire,Greece,NaN
2,Samnite Wars,"33,500+",343 BC‚Äì290 BC,Roman Republic vs. Samnites,Italy,Number given is the sum of all deaths in battl...
3,Wars of Alexander the Great,"142,000+",336 BC‚Äì323 BC,Macedonian Empire and other Greek City-States ...,Middle East / North Africa / Central Asia / India,Number given is the sum of all deaths in battl...
4,Punic Wars,"1,250,000‚Äì1,850,000",264 BC‚Äì146 BC,Roman Republic vs. Carthaginian Empire,Western Europe / North Africa,NaN

Request the following information:
* The amount of rows in the other data frames in the object _wars_.
* Confirm all those data frames share the same column names.

The same web page from Wikipedia has more information on wars that is more difficult to scrap. I leave the example [HERE](https://colab.research.google.com/drive/1fMva9mhuUiLOlxQ6w7irzz2QVeKTzOXf?usp=sharing) in case you want to know more.